body {
  font-family: Arial, sans-serif;
  background-color: #b0a3a3;
}

.calculator {
  width: 280px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #5e56bc;
  box-shadow: 0px 5px 15px rgba(210, 191, 191, 0.2);
  text-align: center;
}

.calculator h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #aea6a6;
}

.display {
  height: 50px;
  background-color: #222;
  color: #fff;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d0d0d0;
}

button:active {
  background-color: #b0b0b0;
}
