.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  background-color: #cd1212;
}

.display {
  height: 50px;
  background-color: #222;
  color: #fff;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
